@import "tailwindcss";

body {
  background-color: #f9fafb;
  color: #111827;
  -webkit-font-smoothing: antialiased;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
